export(get_pathrow)
export(get_pathrow_poly)
import(methods)
import(raster)
import(wrspathrowData)
importFrom(rgeos,gIntersects)
importFrom(sp,CRS)
importFrom(sp,Spatial)
importFrom(sp,proj4string)
importFrom(sp,spTransform)
